@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --mh-primary: #1a51a3;
}

* {
  font-family: "Nunito", sans-serif;
}

.section-title-line {
  margin-top: 10px;
  border: 3px solid var(--mh-primary);
  width: 175px;
  border-radius: 10px;
}

.text-mh-primary {
  color: var(--mh-primary);
}
.bg-mh-primary {
  background-color: var(--mh-primary);
}

.pointer {
  cursor: pointer;
}
